html {
    font-size: 12.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    display: grid;
    grid-template-rows: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    padding: 0px;
    margin: 0px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 21px;
}

.btnw {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 95px;

    button {
        width: 42px;
        box-shadow: 1px 1px #888888;
    }
}

.profile-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin: 0px;
    box-shadow: 2px 2px 2px 2px #888888;
        width: 100px;
        height: 150px;
        
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding-bottom: 15px;
        }
    
}